.general {
    font-size: 14px;

}

.startright {
    display: flex;
    align-items: center;
    float: right;
    width: 250px;
    justify-content: space-around;
    margin-top: 10px;
}

.middle {
    text-align: center;
    padding: 10%;
}

#logo {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    align-items: center;
}

input {
    height: 40px;
    width: 500px;
    padding: 0px, 40px;
    border-width: 1pt;
    border-style: solid;
    border-color: rgba(201, 202, 201, 0.973);
    border-radius: 50px;
    margin-bottom: 20px;
    
}

button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-color: transparent;
}

#input  {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    margin-bottom: 20px;
    border-color: transparent;
}

.line {
    display: flex;
    float: right;
    margin-top: 20px;
 
    border-bottom: 1px solid #dadce0;
}

.footer0 {
    display: flex;
    flex-direction: column;
    align-items: left;
    background: #F2F2F2;
    padding: 1%;
    color: #70757a;

}


.direita {
    display: flex;
    flex-direction: row;
    float: right;
    width: 250px;
    justify-content: space-around;
    margin-top: 35px;
}


.esquerda {
    display: flex;
    flex-direction: row;
    float: left;
    width: 400px;
    justify-content: space-around;
    margin-top: 35px;
}

input:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

a:link, a:visited { 
 text-decoration:none;
 color: #70757a;
} 

a:hover {
	text-decoration: underline; 
	color: black
}

#en {
    color: blue;
    font-size: 14px;
}
#br { 
    display: flex;
    flex-direction: row;
    float: left;
    width: 50px;
    justify-content: space-around;
    font-size: 16;
}

#blackcolor {
    color: black;
}
.icon {
    position: relative;
  }
  
  .icon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 7px 310px;
    color: #aaa;
    transition: 0.3s;
  }